@model ShampanBFRS.Models.SetUpVMs.StructureVM

@{
    ViewBag.Title = " Structure Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}

<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                {
                    <h1 class="m-0"> Structure  Update </h1>
                }
                else
                {
                   <h1 class="m-0"> Structure Create</h1>
                }
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header p-2">

        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>
            <button type="button" title="Post data" id="" class="button btnPost sslPost"> Post </button>
            <button style="float:right;" type="button" title="Add New" data-url="/SetUp/Structure/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>

        }
        else
        {
            <div style="display:none;" class="divUpdate">
                <button type="button" class="button btnsave sslUpdate">Update</button>
                <button style="float:right;" type="button" title="Add New" data-url="/SetUp/Structure/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>
                <button type="button" title="Post data" id="" class="button btnPost sslPost"> Post </button>

            </div>
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>


<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Structure Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)

                <div class="form-group row">

                    <div class="col-sm-2 codeWidth">
                        @Html.LabelFor(model => model.Code)
                        <div style="display: flex; align-items: center;">
                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Auto Generate Code", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:100% !important;" }) &nbsp;
                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Name)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.Name, new { @class = "required form-control form-control-sm", @style = "width: 95%;height: 26px;", placeholder = "Enter  Name" })
                        </div>
                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Remarks)
                        <div class="input-group ">
                            @Html.TextBoxFor(model => model.Remarks, new { placeholder = "Enter Remarks", @class = "  form-control form-control-sm " })
                        </div>
                        @Html.ValidationMessageFor(model => model.Remarks)
                    </div>
                    @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.IsActive)
                            <div class="Onoffbtn">
                                <div class="input-group" style="margin-bottom: -26px; width: 78%;">
                                    <input id="IsActive"
                                           value="@Model.IsActive"
                                           type="checkbox"
                                           name="my-checkbox"
                                           @(Model.IsActive ? "checked" : "")
                                           data-bootstrap-switch
                                           data-off-color="danger"
                                           data-on-color="success"
                                           data-on-text="Yes"
                                           data-off-text="No">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2 cStatus" style="display:none;">
                            @Html.LabelFor(model => model.IsActive)
                            <div class="Onoffbtn">
                                <div class="input-group" style="margin-bottom: -26px; width: 78%;">
                                    <input id="IsActive"
                                           value="@Model.IsActive"
                                           type="checkbox"
                                           name="my-checkbox"
                                           @(Model.IsActive ? "checked" : "")
                                           data-bootstrap-switch
                                           data-off-color="danger"
                                           data-on-color="success"
                                           data-on-text="Yes"
                                           data-off-text="No">
                                </div>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title"> Structure Details</h3>
            </div>

            <div class="card-body">

                <button type="button" title="Add SO Details" id="addRows" class="btn btn-lg btn-success mb-2"> <i class="fa fa-plus"></i> </button>
                <div class="clearfix">&nbsp;</div>
                <div style="overflow-x: auto; white-space: nowrap;">

                    <table class="table table-bordered table-striped table-sm" id="details">
                        <thead>
                            <tr>

                                <th data-type="text" data-computed="true" data-required="false" style="width:5%;" data-name="SLNo">SL. No.</th>

                                <th data-type="text" data-search="true" style="width:40%;" data-name="SegmentName"> Segment Name </th>

                                <th hidden data-type="text" data-search="false" style="width:25%;" data-name="SegmentId"> SegmentId </th>

                                <th data-type="text" style="width: 50%;" data-name="Remarks">Remarks</th>

                            </tr>
                        </thead>
                        <tbody id="SODBody">
                            @if (Model != null)
                            {
                                foreach (var item in Model.StructureDetails)
                                {
                                    <tr>

                                        <td> @serial </td>

                                        <td> @item.SegmentName </td>
                                        <td hidden> @item.SegmentId </td>

                                        <td>@item.Remarks</td>

                                        <td> <button class="btn btn-danger btn-sm remove-row-btn"><i class='fa fa-trash'></i></button> </td>

                                    </tr>

                                    { serial++; }
                                }
                            }

                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </form>



    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2">


            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            { /*On Edit*/
                <button style="float:left;" type="button" class="button btnsave sslUpdate">Update</button>
                @*<button style="float: right; margin-left: 4px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>*@
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    @*after save*@
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    @*<button style="float: right; margin-left: 2px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                            New
                        </button>*@
                </div>
                <div class="divSave">
                    @*NEW Entry*@
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>
            }

        </div>
        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@

        }
        else
        {
            <div class="auditshow" style="display:none;"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@
        }
    </div>




    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts{


    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/SetUp/js/Controller/StructureController.js"></script>
    <script>
        $(document).ready(function () {
            StructureController.init();
        });

    </script>


}



