@model ShampanBFRS.Models.SetUpVMs.ProductVM
@{
    ViewBag.Title = "Product Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2"> 
            <div class="col-sm-6">
                @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                {
                    <h1 class="m-0"> Product Edit </h1>
                }
                else
                {
                    <h1 class="m-0"> Product Add</h1>
                }
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header p-2">

        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>

            <button style="float:right;" type="button" title="Add New" data-url="/SetUp/Product/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>

        }
        else
        {
            <div style="display:none;" class="divUpdate">
                <button type="button" class="button btnsave sslUpdate">Update</button>

                <button style="float:right;" type="button" title="Add New" data-url="/SetUp/COAGroup/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>
            </div>
            
            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>


<div class="container-fluid">
    <div class="mt-3">
        <div id="tabs-1">

            <form id="frmEntry">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"> Product Info</h3>
                    </div>
                    <div class="card-body">

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Operation)


                        <div class="form-group row">

                            <div class="col-sm-2 codeWidth">
                                @Html.LabelFor(model => model.Code)
                                <div style="display: flex; align-items: center;">
                                    <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                                    @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                                    <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Name)
                                <div class="input-group ">
                                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Enter Product Name", @class = "  form-control form-control-sm " })
                                </div>
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ProductGroupId)
                                <div class="input-group ">
                                    @Html.TextBoxFor(model => model.ProductGroupId, new { placeholder = "Enter Group Name", @class = "  form-control form-control-sm " })
                                </div>
                                @Html.ValidationMessageFor(model => model.ProductGroupId)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ConversionFactor)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ConversionFactor, new { placeholder = "Enter Conversion Factor", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConversionFactor)
                            </div>

                            @*<div class="col-sm-2">
                                @Html.LabelFor(model => model.CIFCharge)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.CIFCharge, new { placeholder = "Enter CIF Charge", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CIFCharge)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ExchangeRateUsd)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ExchangeRateUsd, new { placeholder = "Enter Exchange Rate Usd", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ExchangeRateUsd)
                            </div>
                           

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.BankCharge)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.BankCharge, new { placeholder = "Enter Bank Charge", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.BankCharge)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.OceanLoss)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.OceanLoss, new { placeholder = "Enter Ocean Loss", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.OceanLoss)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.CPACharge)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.CPACharge, new { placeholder = "Enter CPA Charge", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CPACharge)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.HandelingCharge)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.HandelingCharge, new { placeholder = "Enter Handeling Charge", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.HandelingCharge)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.LightCharge)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.LightCharge, new { placeholder = "Enter Light Charge", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.LightCharge)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Survey)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Survey, new { placeholder = "Enter Survey", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Survey)
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.CostLiterExImport)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.CostLiterExImport, new { placeholder = "Enter CostLiter ExImport", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CostLiterExImport)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ExERLRate)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ExERLRate, new { placeholder = "Enter ExERL Rate", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ExERLRate)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.DutyPerLiter)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.DutyPerLiter, new { placeholder = "Enter Duty PerLiter", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DutyPerLiter)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Refined)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Refined, new { placeholder = "Enter Refined", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Refined)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.Crude)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Crude, new { placeholder = "Enter Crude", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Crude)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.SDRate)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.SDRate, new { placeholder = "Enter SD Rate", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.SDRate)
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.InsuranceRate)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.InsuranceRate, new { placeholder = "Enter Insurance Rate", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.InsuranceRate)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.DutyInTariff)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.DutyInTariff, new { placeholder = "Enter Duty In Tariff", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DutyInTariff)
                            </div>

                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.ATRate)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.ATRate, new { placeholder = "Enter AT Rate", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ATRate)
                            </div>
                            <div class="col-sm-2">
                                @Html.LabelFor(model => model.VATRate)
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.VATRate, new { placeholder = "Enter VAT Rate", @class = "form-control form-control-sm", type = "number", step = "any" })
                                </div>
                                @Html.ValidationMessageFor(model => model.VATRate)
                            </div>*@



                            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                            {
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.IsActive)
                                    <div class="Onoffbtn">
                                        <div class="input-group" style="margin-bottom: -26px; width: 78%;">
                                            <input id="IsActive"
                                                   value="@Model.IsActive"
                                                   type="checkbox"
                                                   name="my-checkbox"
                                                   @(Model.IsActive ? "checked" : "")
                                                   data-bootstrap-switch
                                                   data-off-color="danger"
                                                   data-on-color="success"
                                                   data-on-text="Yes"
                                                   data-off-text="No">
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-2 cStatus" style="display:none;">
                                    @Html.LabelFor(model => model.IsActive)
                                    <div class="Onoffbtn">
                                        <div class="input-group" style="margin-bottom: -26px; width: 78%;">
                                            <input id="IsActive"
                                                   value="@Model.IsActive"
                                                   type="checkbox"
                                                   name="my-checkbox"
                                                   @(Model.IsActive ? "checked" : "")
                                                   data-bootstrap-switch
                                                   data-off-color="danger"
                                                   data-on-color="success"
                                                   data-on-text="Yes"
                                                   data-off-text="No">
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>



                    </div>
                </div>
            </form>

            <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="card-header p-2">

                    @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                    {
                        <button type="button" class="button btnsave sslUpdate">Update</button>

                        <button style="float: right; margin-left: 5px;" type="button" title="Add New" data-url="/SetUp/Product/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                            New
                        </button>
                    }
                    else
                    {
                        <div style="display:none;" class="divUpdate">
                            <button type="button" class="button btnsave sslUpdate">Update</button>
                            <button style="float: right; margin-left: 5px;" type="button" title="Add New" data-url="/SetUp/Product/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                                New
                            </button>
                        </div>
                        <div class="divSave">
                            <button class="button btnsave sslSave" type="button" id="">Save</button>
                        </div>
                    }

                </div>
                <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>
            </div>

            <div class="card card-secondary auditcard">

                <div class="card-header">
                    <h3 class="card-title">Audit Details</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="row">
                                @Html.Label("Type")
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.Label("Created")
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Updated")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                                    @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                                    <div class="clearfix">&nbsp;</div>
                                    @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                                </div>

                                <div class="col-sm-3">
                                    @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                                    <div class="clearfix">&nbsp;</div>
                                    @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>






@section scripts{

    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/SetUp/js/Controller/ProductController.js"></script>

    <script>
        $(document).ready(function () {

            ProductController.init();
        });

    </script>


}

