@using Newtonsoft.Json
@model ShampanBFRS.Models.Ceiling.BudgetHeaderVM

@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="tabs">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @if (Model.Operation == "add")
                    {
                        <h1 class="m-0">Budget Create(@Model.BudgetType)</h1>
                    }
                    else
                    {
                        <h1 class="m-0">Budget Edit(@Model.BudgetType)</h1>
                    }
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header p-2">

            @if (Model.IsPost == "Y")
            {
                <button type="button" class="button sslPush">Already Posted</button>
            }
            else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            {
               <button style="float:right;" type ="button" title="Add New" data-url="/Ceiling/Budget/Create?TransactionType=@Model.TransactionType&BudgetType=@Model.BudgetType" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
               </button>             
                <button type="button" class="button btnsave sslUpdate">Update</button>
             
                <button type="button" class="button btnPost sslPost">Post</button>
                <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    <button type="button" class="button btnPost sslPost">Post</button>
                    <button type="button" style="display:none;" class="button sslPush">Already Posted</button>                
                    <button type="button" title="Add New" data-url="/Ceiling/Budget/Create?TransactionType=@Model.TransactionType&BudgetType=@Model.BudgetType" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>
                </div>
                <div class="divSave">
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>
            }

        </div>

    </div>

    <div class="container-fluid">
        <div class="mt-3">
            <div id="tabs-1">
                <form id="frmEntry">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title"> Budget Info</h3>
                        </div>
                        <div class="card-body">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Operation)
                            @Html.HiddenFor(model => model.TransactionType)
                            @Html.HiddenFor(model => model.BudgetType)
                            @Html.HiddenFor(model => model.BudgetSetNo)
                            @Html.Hidden("detailsListJson", JsonConvert.SerializeObject(Model.DetailList ?? new List<ShampanBFRS.Models.Ceiling.BudgetDetailVM>()))

                            <div class="form-group row">

                               @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                                {

                                    <div class="col-sm-2">
                                         @Html.LabelFor(model => model.Code)
                                        <div style="display: flex; align-items: center;">
                                                <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                                                @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                                                <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                                         </div>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.FiscalYearId)
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.FiscalYearId, new { placeholder = "Enter Fiscal Year", @class = "form-control form-control-sm", @readonly = "readonly" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FiscalYearId)
                                    </div>

                                }
                                else
                                {

                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.Code)
                                        <div style="display: flex; align-items: center;">
                                            <span id="btnPrevious" class="fa fa-backward" style="color: darkseagreen;"></span>&nbsp;
                                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code Auto Generate", @class = " csCode  form-control form-control-sm", @readonly = "readonly", @style = "width:140px;" }) &nbsp;
                                            <span id="btnNext" class="fa fa-forward" style="color: darkseagreen;"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.FiscalYearId)
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.FiscalYearId, new { placeholder = "Enter Fiscal Year", @class = "required form-control form-control-sm" })
                                        </div>
                                        <span id="titleError2" class="text-danger" style="display:none;"></span>
                                    </div>
                                }

                            <div class="col-sm-1">
                                <div class="input-group">
                                    <button type="button" title="Load" class="btn btn-primary btn-sm sslLoad btnLoad"
                                                style="margin-top: 26%;" id="btnFDt">
                                            Load
                                        </button>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>


                    @*<div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Details
                                </h3>
                            </div>
                            <div class="card-body">
                                <div id="BudgetDetailsData"></div>
                            </div>
                        </div>*@
                   @if (Model.Operation.Equals("add", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Details
                                </h3>
                            </div>
                            <div class="card-body">
                                <div id="BudgetDetailsData"></div>
                            </div>
                        </div>
                     }
                   @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Details
                                </h3>
                            </div>
                            <div class="card-body">
                                <div id="updtBudgetDetailsData"></div>
                            </div>
                        </div>
                    }

                </form>

                <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
                    <div class="card-header p-2">
                       @if (Model.IsPost == "Y")
                        {
                            <button type="button" class="button sslPush">Already Posted</button>
                        }

                        else if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                        {
                            <button type="button" class="button btnsave sslUpdate">Update</button>

                            <button style="float: right; margin-left: 5px;" type="button" title="Add New" data-url="/Ceiling/Budget/Create?TransactionType=@Model.TransactionType&BudgetType=@Model.BudgetType" onclick="GoTo(this)" class="button NewButton addNewButton">
                                New
                            </button>
                            <button type="button" style="display:none;" class="button sslPush">Already Posted</button>
                        }
                        else
                        {
                            <div style="display:none;" class="divUpdate">
                                <button type="button" class="button btnsave sslUpdate">Update</button>
                                <button style="float: right; margin-left: 5px;" type="button" title="Add New"
                                        data-url="/Ceiling/Budget/Create?TransactionType=@Model.TransactionType&BudgetType=@Model.BudgetType" onclick="GoTo(this)" class="button NewButton addNewButton">
                                    New
                                </button>
                            </div>
                            <div class="divSave">
                                <button class="button btnsave sslSave" type="button" id="">Save</button>
                            </div>
                        }

                    </div>
                    @*<div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div>*@
                </div>


                <div class="card card-secondary auditcard">

                    <div class="card-header">
                        <h3 class="card-title">Audit Details</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="row">
                                    @Html.Label("Type")
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.Label("Created")
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.Label("Updated")
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                                        @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonValidationHelper.js"></script>
    <script src="~/Areas/Ceiling/js/Controllers/BudgetController.js"></script>
    <script>
        $(document).ready(function () {
            BudgetController.init();
        });
    </script>

}
