@using Newtonsoft.Json
@model ShampanBFRS.Models.Sale.SaleHeaderVM

@{
    ViewBag.Title = " Sale Header Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}

<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }

    .k-picker-wrap.k-state-default {
        width: 90% !important;
    }

    .hidden-field {
        display: none;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                {
                    <h1 class="m-0"> Sale Header  Update(@Model.BudgetType) </h1>
                }
                else
                {
                    <h1 class="m-0"> Sale Header Create(@Model.BudgetType)</h1>
                }
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header p-2">

        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>
            <button type="button" title="Post data" class="button btnPost sslPost"> Post </button>

            <button style="float:right;" type="button" title="Add New" data-url="/Sale/Sale/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>

        }
        else
        {
            <div style="display:none;" class="divUpdate">
                <button type="button" class="button btnsave sslUpdate">Update</button>
                <button style="float:right;" type="button" title="Add New" data-url="/Sale/Sale/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>

                <button type="button" title="Post data" class="button btnPost sslPost"> Post </button>

            </div>

            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>


<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sale Header Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.BudgetType)
                @Html.Hidden("detailsListJson", JsonConvert.SerializeObject(Model.SaleDetail ?? new List<ShampanBFRS.Models.Sale.SaleDetailVM>()))


                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Code)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code", @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>

                    @*<div class="col-sm-2">
                @Html.LabelFor(model => model.TransactionDate)
                <div class="input-group ">
                    @Html.TextBoxFor(model => model.TransactionDate, new { @class = "required form-control form-control-sm" })
                </div>
                <span class="field-validation-error text-danger" data-valmsg-for="NoteDate" data-valmsg-replace="true"></span>
            </div>*@

                    <div class="col-sm-2 hidden-field">
                        @Html.LabelFor(model => model.TransactionDate)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "required form-control form-control-sm" })
                        </div>
                        <span class="field-validation-error text-danger" data-valmsg-for="NoteDate" data-valmsg-replace="true"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FiscalYearId)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.FiscalYearId, new { placeholder = "Enter Fiscal Year", @class = "form-control form-control-sm" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FiscalYearId)
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.BudgetType)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.BudgetType, new { placeholder = "Enter Budget Type", @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BudgetType)
                    </div>


                </div>

            </div>
        </div>
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title"> Sale Header Details</h3>
            </div>

            <div class="card-body">
                <div id="kDetails"></div>
            </div>
        </div>

    </form>

    <div id="PersonnelCategoriesWindow" style="display:none;">
        <div id="PersonnelCategoriesgrid"></div>
    </div>



    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2">


            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            { /*On Edit*/
                <button style="float:left;" type="button" class="button btnsave sslUpdate">Update</button>
                @*<button style="float: right; margin-left: 4px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>*@
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    @*after save*@
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    @*<button style="float: right; margin-left: 2px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                            New
                        </button>*@
                </div>
                <div class="divSave">
                    @*NEW Entry*@
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>
            }

        </div>
        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@

        }
        else
        {
            <div class="auditshow" style="display:none;"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@
        }
    </div>




    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts{


    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/Sale/js/SaleController.js"></script>
    <script>
        $(document).ready(function () {
            SaleController.init();
        });

    </script>


}



