@model ShampanBFRS.Models.Sale.SaleHeaderVM

@{
    ViewBag.Title = " Sale Header Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var serial = 1;
}

<style>
    .k-dropdown-wrap .k-input {
        line-height: 1.6em !important;
    }

    .k-picker-wrap.k-state-default {
        width: 90% !important;
    }

    .hidden-field {
        display: none;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
                {
                    <h1 class="m-0"> Sale Header  Update(@Model.BudgetType) </h1>
                }
                else
                {
            <h1 class="m-0"> Sale Header Create(@Model.BudgetType)</h1>
                }
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li id="btnBack"><img src="~/Content/css/ButtonsIcons/back-icon.png" title="Click for Go Back" /></li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header p-2">

        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <button type="button" class="button btnsave sslUpdate">Update</button>
            <button type="button" title="Post data" class="button btnPost sslPost"> Post </button>

            <button style="float:right;" type="button" title="Add New" data-url="/Sale/Sale/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>

        }
        else
        {
            <div style="display:none;" class="divUpdate">
                <button type="button" class="button btnsave sslUpdate">Update</button>
                <button style="float:right;" type="button" title="Add New" data-url="/Sale/Sale/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                    New
                </button>

                <button type="button" title="Post data" class="button btnPost sslPost"> Post </button>

            </div>

            <div class="divSave">
                <button class="button btnsave sslSave" type="button" id="">Save</button>
            </div>
        }

    </div>
</div>


<div class="container-fluid">
    <form id="frmEntry">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"> Sale Header Info </h3>
            </div>
            <div class="card-body">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Operation)
                @Html.HiddenFor(model => model.BudgetType)


                <div class="form-group row">

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.Code)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Code, new { placeholder = "Code", @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>

                    @*<div class="col-sm-2">
                @Html.LabelFor(model => model.TransactionDate)
                <div class="input-group ">
                    @Html.TextBoxFor(model => model.TransactionDate, new { @class = "required form-control form-control-sm" })
                </div>
                <span class="field-validation-error text-danger" data-valmsg-for="NoteDate" data-valmsg-replace="true"></span>
            </div>*@

                    <div class="col-sm-2 hidden-field">
                        @Html.LabelFor(model => model.TransactionDate)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.TransactionDate, new { @class = "required form-control form-control-sm" })
                        </div>
                        <span class="field-validation-error text-danger" data-valmsg-for="NoteDate" data-valmsg-replace="true"></span>
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.FiscalYearId)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.FiscalYearId, new { placeholder = "Enter Fiscal Year", @class = "form-control form-control-sm" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FiscalYearId)
                    </div>

                    <div class="col-sm-2">
                        @Html.LabelFor(model => model.BudgetType)
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.BudgetType, new { placeholder = "Enter Budget Type", @class = "form-control form-control-sm", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.BudgetType)
                    </div>


                </div>

            </div>
        </div>
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title"> Sale Header Details</h3>
            </div>

            <div class="card-body">

                <button type="button" title="Add SO Details" id="addRows" class="btn btn-lg btn-success mb-2"> <i class="fa fa-plus"></i> </button>
                <div class="clearfix">&nbsp;</div>
                <div style="overflow-x: auto; white-space: nowrap;">

                    <table class="table table-bordered table-striped table-sm" id="details">
                        <thead>
                            <tr>
                                <th data-type="text" data-computed="true" data-required="false" data-name="SLNo" style="width:3%;">SL.</th>
                                <th hidden data-type="text" data-search="false" data-name="SaleHeaderId" style="width:5%;">Sale Header Id</th>
                                <th data-type="text" data-search="true" data-name="ProductName" style="width:20%;">Product Nmae</th>
                                <th hidden data-type="text" data-search="false" data-name="ProductId" style="width: 20%;">Product Id</th>
                                <th data-type="number" data-name="ConversionFactor" style="width: 20%;">Conversion Factor</th>
                                <th data-type="number" data-name="PriceLTR" style="width: 15%;">Price LTR</th>
                                <th data-type="number" data-computed="true" data-name="PriceMT" style="width: 15%;">Price MT</th>
                                <th data-type="number" data-name="ProductionMT" style="width: 20%;">Production MT</th>
                                <th data-type="number" data-computed="true" data-name="SalesExERLValue" style="width: 25%;">Sales Ex ERL Value</th>
                                <th data-type="number" data-name="SalesExImport_LocalMT" style="width: 25%;">Sales Ex Import Local MT</th>
                                <th data-type="number" data-computed="true" data-name="SalesExImport_LocalValue" style="width:4%;">Sales Ex Import Local Value</th>
                                <th data-type="number" data-computed="true" data-name="TotalMT" style="width:4%;">Total MT</th>
                                <th data-type="number" data-computed="true" data-name="TotalValueTK_LAC" style="width:4%;">Total Value TK LAC</th>
                            </tr>
                        </thead>
                        <tbody id="SODBody">
                            @if (Model != null)
                            {
                                foreach (var item in Model.SaleDetail)
                                {
                                    <tr>

                                        <td> @serial </td>
                                        <td hidden> @item.SaleHeaderId </td>
                                        <td> @item.ProductName </td>
                                        <td hidden> @item.ProductId </td>
                                        <td>@item.ConversionFactor</td>
                                        <td>@item.PriceLTR</td>
                                        <td>@item.PriceMT</td>
                                        <td>@item.ProductionMT</td>

                                        <td>@item.SalesExERLValue</td>
                                        <td>@item.SalesExImport_LocalMT</td>
                                        <td>@item.SalesExImport_LocalValue</td>
                                        <td>@item.TotalMT</td>
                                        <td>@item.TotalValueTK_LAC</td>

                                        <td> <button class="btn btn-danger btn-sm remove-row-btn"><i class='fa fa-trash'></i></button> </td>

                                    </tr>

                                    { serial++; }
                                }
                            }

                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </form>



    <div class="card" style="flex-direction: row; justify-content: space-between; align-items: center;">
        <div class="card-header p-2">


            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
            { /*On Edit*/
                <button style="float:left;" type="button" class="button btnsave sslUpdate">Update</button>
                @*<button style="float: right; margin-left: 4px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                        New
                    </button>*@
            }
            else
            {
                <div style="display:none;" class="divUpdate">
                    @*after save*@
                    <button type="button" class="button btnsave sslUpdate">Update</button>
                    @*<button style="float: right; margin-left: 2px;" type="button" title="Add New" data-url="/MM/MaintenanceRequisition/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                            New
                        </button>*@
                </div>
                <div class="divSave">
                    @*NEW Entry*@
                    <button class="button btnsave sslSave" type="button" id="">Save</button>
                </div>
            }

        </div>
        @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
        {
            <div class="auditshow"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@

        }
        else
        {
            <div class="auditshow" style="display:none;"> <img src="~/Content/Images/audit.png" title="Click for Audit" /> </div> @*audit*@
        }
    </div>




    <div class="card card-secondary auditcard">

        <div class="card-header">
            <h3 class="card-title">Audit Details</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        @Html.Label("Type")
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.Label("Created")
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Updated")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Label("By")<br /><div class="clearfix">&nbsp;</div>
                            @Html.Label("On")<br /><div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "CreatedBy  form-control form-control-sm ", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.CreatedOn, new { @class = "CreatedOn  form-control form-control-sm ", @readonly = "readonly" })
                        </div>

                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.LastModifiedBy, new { @class = "LastUpdateBy  form-control form-control-sm lub", @readonly = "readonly" })
                            <div class="clearfix">&nbsp;</div>
                            @Html.TextBoxFor(model => model.LastModifiedOn, new { @class = "LastUpdateOn  form-control form-control-sm luo", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts{


    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    <script src="~/Areas/Sale/js/SaleController.js"></script>
    <script>
        $(document).ready(function () {
            SaleController.init();
        });

    </script>


}



